@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Yellowtail&display=swap');

:root {
	--border-color: linear-gradient(to right, tomato 0%, gold 100%);
  --border-color2: linear-gradient(100deg, var(--tomato) 25%, var(--gold)50%, var(--tomato)75%);
	--card-color: #222;

  --violet: rgb(161, 132, 240);
  --turquoise: #2fdabd;

  --tomato: rgb(255, 99, 71);
  --gold:rgb(255, 215, 0);
}

html  {
  background-image: linear-gradient(to right,#51da9a64, #f29ee5);
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 154, 255, 0.950);
  box-shadow: 0 4px 25px -22px #000;
  z-index: 2;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b {
  color: blue;
}

.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-selected:before {
  content: " ";
  width: 100%;
  height: 4px;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}

.menu nav ul li a {
  color: #130912;
}

.menu nav ul li a:hover {
  color: blue;
  transition: color 300ms;
  font-size: 18px;
}

.menu .text-menu-selected {
  color: blue;
}

#icon-menu  {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 30px;
  background: #fafafafa;
  border-radius: 100%;
  color: rgb(80, 4, 52);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconos-menu {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.menu-icono {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-right: 15px;
}

.menu nav ul li a span  {
  display: none;
}

.menu nav ul li a img  {
  display: none;
}

#icon-menu:hover  {
  background: #f2f2f2f2;
}

/* PORTADA */

.container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/R\ 2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-biblioteca {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/siluetas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-bl {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/bl\ fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-gl {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/yuri.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-clasica {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/romeo-y-julieta2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-romance {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/romance.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover-manga {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/Biblioteca/manga.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-biblioteca::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-romance::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-bl::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-gl::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-clasica::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-cover-manga::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 255, 0.54);
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  font-family: 'Yellowtail', cursive;
}

.container-info-cover h1 {
  font-size: 70px;
  font-weight: 500;
  color: rgb(15, 15, 153);
  margin-bottom: 20px;
}

.container-info-cover p {
  color: #080808;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 2px 2px 2px white;
}

/* Contenedor - contenido del articulo */

.container-content {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: -10px 0 20px -30px black;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

article:before {
  content: " ";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: #f505e1;
}

article h1 {
  font-weight: 500;
  font-size: 40px;
}

article h2 {
  font-size: 30px;
  margin-top: 5px;
}

article h3 {
  color: blue;
}

article p {
  margin-top: 15px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

article img {
  width: 100%;
  margin-top: 20px;
}

article ul {
  list-style: circle;
  margin-top: 10px;
  margin-left: 8%;
}

article ul li {
  margin-top: 10px;
}

.tituloB {
  text-align: center;
  color: #b20773;
  font-size: 50px;
  -webkit-text-stroke: 1px #463a3a;
  text-shadow: 1px 1px 2px #000;
}

/* Aside */

.container-aside aside  {
  width: 320px;
  border-radius: 6px;
  box-shadow: 0 0 20px -20px black;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.container-aside aside img  {
  width: 100%;
}

.container-aside aside h2 ,
.container-aside aside p{
  margin-top: 20px;
  padding: 0px 20px;
}

.container-aside aside button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 16px;
  background: cornflowerblue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.container-aside aside button:hover {
  opacity: 0.9;
}

.container-aside u {
  text-decoration: none;
  color: blue;
}

/* Footer */

.container-footer {
  width: 100%;
  padding: 20px 0;
  background-image: radial-gradient( circle 729.4px at 10% 20%, rgba(135, 240, 223, 0.85) 0%, rgba(182,145,246,0.83) 47.5%, rgba(195, 108, 238, 0.92) 91.1% );
  margin-top: 40px;
}

.container-footer footer  {
  max-width: 1200px;
  margin: auto;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .logo-footer img {
  width: 160px;
}

.container-footer footer hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background: #b8b8b8;
}

.container-footer h4{
  text-align: center;
  margin-top: 40px;
  color: blue;
  font-weight: 500;
}

/* Responsive Desing - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px) {


  .header-content,
  .container-content,
  .container-footer footer {
    max-width: 1000px;
    padding: 0 20px;
  }

}

@media screen and (max-width: 1020px) {

  .container-content  {
    width: 100%;
    flex-direction: column;
  }

  article {
    box-shadow: 0 0 0 0;
  }

  .container-aside  {
    display: flex;
    justify-content: center;
  }

  .container-aside aside  {
    max-width: 300px;
    margin: 10px;
  }

}

@media screen and (max-width: 800px) {

  body  {
    overflow-x: hidden;
  }

  .container-all{
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .move-container-all  {
    transform: translateX(270px);
  }

  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #FCDFFF;
    overflow: hidden;
    transform: translateX(-270px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .show-lateral {
    width: 270px;
    transform: translateX(0px);
  }

  .menu nav ul {
    flex-direction: column;
  }
  
  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }
  
  .menu-selected:before {
    width: 0;
  }
  
  .menu nav ul li a {
    margin-top: 40px;
  }

  .menu nav ul li a span  {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  .menu nav ul li a img  {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  #icon-menu  {
    display: flex;
  }

  .container-aside  {
    flex-wrap: wrap;
  }

}

/*******Carrusel************/

.content-all{
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover{
  animation-play-state: paused;
  cursor: pointer;
}


.content-carrousel figure{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 800ms;
  
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 800ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(72deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(144deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(216deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(280deg) translateZ(300px);}


.content-carrousel img{
  width: 100%;
  transition: all 800ms;
}

.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 800ms;
}


@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}

/*
.texto-resena img {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
*/

.content-buscador{
  width: 90%;
  height: 100%;
}

input{
  width: 50vw;
  padding: 10px;
  outline: none;
  border: 5px solid #CCD1E4;
  font-weight: 600;
  margin-left: 10px;
}

#listaArticulos{
  font-size: 20px;
  margin-top: 20px;
  list-style: square;
  font-weight: 600;
  color: #270303;
  margin-left: 10%;
}

li{
  margin: 5px 0;
}

.filtro{
  display: none;
}

section .buscador {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-3 {
  animation: gradient 30s linear infinite;
  /*background: linear-gradient(100deg, var(--violet) 25%, var(--turquoise) 50%, var(--violet) 75%);*/
  background-repeat: repeat;
	background: var(--border-color2);
	aspect-ratio: 10/16;
	width: 150px;
	padding: 8px;
	border-radius: 16px;
	position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
}

.card-body {
	background: var(--card-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}


.card-body img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  margin-bottom: 15%;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* BREADCRUMBS */

.breadcrumbs {
  margin-left: 5%;
  position: absolute;
	padding: 10px;
	font-family: "Source Sans Pro", sans-serif;
}

.breadcrumbs__item {
	display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
	content: "\203a";
	margin: 0px 5px;
	color: #463a3a;
	-webkit-text-stroke: 1px #463a3a;
}

.breadcrumbs__link {
	text-decoration: none;
	color: #696161;
}

.breadcrumbs__link:hover {
	text-decoration: underline;
}

.breadcrumbs__link--active {
	color: #95007c;
	font-weight: 600;
}

/* / BREADCRUMBS */